.idea

*.pyc
*~
build
*.swp
*.pdf
dist
*.egg-info
*.json
*.log
*.png
*.pgf
*.csv
NLPproblem.summary
*.299445.*
*.nl
*.sol
*.out
results_p4_q3_ts2x

# PyCharm files
*.idea
!LICENSE_SF-19-096_apprentice_GPL_3.0.pdf

*.h5
*.json
*.dat
*.cmd
\.DS_Store
.idea
weights
WD*
WD_bk
!process.dat
!decaf-henson*
json-error.py

.idea

*.pyc
*~
build
*.swp
*.pdf
dist
*.egg-info
*.json
*.log
*.png
*.pgf
*.csv
NLPproblem.summary
*.299445.*
*.nl
*.sol
*.out
results_p4_q3_ts2x

# PyCharm files
*.idea
!algoparams.json
!config.json
!config_workflow.json
!data.json
!weights
!onelineoutput.png
!decaf-henson.json
!LICENSE.pdf
hostfile_workflow.txt
