.idea

*.pyc
*~
build
*.swp
*.pdf
dist
*.egg-info
*.json
*.log
*.png
*.pgf
*.csv
NLPproblem.summary
*.299445.*
*.nl
*.sol
*.out
results_p4_q3_ts2x

# PyCharm files
*.idea
!LICENSE_SF-19-096_apprentice_GPL_3.0.pdf